
<div [ngSwitch]="selectedPage">
    <div *ngSwitchCase="'buscador'">
        <app-alumnos (onSelectAlumnoEvent)="onAlumnoSelected($event)"></app-alumnos>

    </div>
    <div *ngSwitchCase="'perfil'">
        <app-perfil-alumno [alumno]="alumnoSelected" *ngIf="selectedIdAlumno != ''" (volverEvent)="onClosePerfil()"
            (openSegMedicoEvent)="onSegMedico()" (openConferAsisEvent)="onConferAsistidas()"></app-perfil-alumno>

    </div>
    <div *ngSwitchCase="'confer_asistidas'">
        <app-confer-asistidas-alumno [alumno]="alumnoSelected"
            (toConferencesEvent)="toGeneralConferences()" (toPerfilEvent)="onPerfil()"></app-confer-asistidas-alumno>

    </div>
    <div *ngSwitchCase="'seg_medico'">
        <app-seg-medico-alumno [alumno]="alumnoSelected" (toFormEditEvent)="toFormEditSegMed()"
            (toServicesEvent)="toGeneralServices()" (toPerfilEvent)="onPerfil()"></app-seg-medico-alumno>

    </div>
    <div *ngSwitchCase="'form_seg_med'">
        <app-form-modify-stats-medical (toSegMedEvent)="onSegMedico()" (onModifyAlumno)="modifyAlumno($event)"   [alumno]="alumnoSelected"></app-form-modify-stats-medical>

    </div>
</div>