<div class="container">

    <div class="info-wrapper">
        <div class="info-section">
            <h2>Datos Personales</h2>
            <p><strong>NSS:</strong> XXXXXXXXXXXXXXXXXXX</p>
            <p><strong>Afiliación:</strong> UTNC</p>
            <p><strong>Grupo RH:</strong> O+</p>
            <p><strong>Donador de sangre:</strong> NO</p>
            <p><strong>Peso:</strong> 60kg</p>
            <p><strong>Talla:</strong> 28</p>
            <p><strong>En caso de accidente:</strong></p>
            <p>xxxxxxxxx</p>
            <p>xxxxxxxxxxxxxxxxxxxx</p>
        </div>

        <div class="info-section">
            <h2>Nombre alumno</h2>
            <p><strong>Matrícula:</strong> ##########</p>
            <p><strong>Enfermedades:</strong> Ninguna</p>
            <p><strong>Tratamientos:</strong> Ninguno</p>
            <p><strong>Alergias:</strong> Ninguna</p>
            <p><strong>Discapacidades:</strong> Ninguna</p>

            <div class="vacunas">
                <h3>Vacunas</h3>
                <ul>
                    <li>Vacuna 1</li>
                    <li>Vacuna 2</li>
                </ul>
            </div>
        </div>
    </div>

    <a href="#" class="btn">Ir a Servicios médicos ➝</a>
</div>