<div class="container">

    <div class="student-info">
        <h2>Nombre alumno</h2>
        <p>Matrícula</p>
    </div>

    <div class="search-bar">
        <input type="text" placeholder=" Buscar...">
    </div>

    <table>
        <thead>
            <tr>
                <th><span class="icon">👥</span>Nombre</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="icon">👥</span>Conferencia 1</td>
                <td>xx/xxxx/xxxx xx:xx</td>
            </tr>
            <tr>
                <td><span class="icon">👥</span>Conferencia 2</td>
                <td>xx/xxxx/xxxx xx:xx</td>
            </tr>
        </tbody>
    </table>

    <div class="text-center">
        <a href="#" class="btn">Ir a conferencias ➝</a>
    </div>
</div>