.conference-item:hover {
    background-color: #e9f5ff;
    cursor: pointer;
}

li {
    user-select: none;
}

.qrcodeImage {
    display: flex;
    flex: 1;
}

.center {
    display: flex;
    flex: 1;
    justify-content: center;
}