<div [ngSwitch]="selectedPage">
    <div *ngSwitchCase="'alumnos'">
        <app-alumnos *ngIf="selectedAlumno == null" (onSelectAlumnoEvent)="onAlumnoSelected($event)"></app-alumnos>

    </div>
    <div *ngSwitchCase="'perfil'">
        <app-perfil-alumno *ngIf="selectedAlumno" (volverEvent)="onClosePerfil()"
        (openSegMedicoEvent)="onSegMedico()"
        (openConferAsisEvent)="onConferAsistidas()"
        ></app-perfil-alumno>

    </div>
    <div *ngSwitchCase="'confer_asistidas'">
        <app-confer-asistidas-alumno></app-confer-asistidas-alumno>

    </div>
    <div *ngSwitchCase="'seg_medico'">
        <app-seg-medico-alumno ></app-seg-medico-alumno>

    </div>
</div>