<div class="modal">

    <div class="card">
        <div class="card-header">
            Agregar Brigada
        </div>
        <div class="card-body">
            <form [formGroup]="vacunaForm" class="modal-content" (ngSubmit)="onSubmit()">
                <div class="row mb-3">
                    <div class="col-8">
                        <label for="vacuna" class="form-label">Nombre</label>
                        <input type="text" id="vacuna" class="form-control form-control-lg" placeholder="Agregar texto" formControlName="vacuna" />
                    </div>

                    <div class="col-4">
                        <label for="fecha" class="form-label">Fecha</label>
                        <input type="date" id="fecha" class="form-control" formControlName="fecha" />
                    </div>
                </div>

                <div class="row justify-content-center align-items-center g-2">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                    <div class="col-4"></div>
                    <div class="col">
                        <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>