<div class="container">



    <div *ngIf="alumno">
        <h2 class="text-center">Datos Medicos</h2>
        <div class="info-wrapper">
            <div class="info-section">

                <p><strong>NSS:</strong> {{alumno.NSS }}</p>
                <p><strong>Afiliación:</strong> {{alumno.Afiliacion }}</p>
                <p><strong>Grupo RH:</strong> {{alumno.RH }}</p>
                <p><strong>Donador de sangre:</strong> {{alumno.Donador }}</p>
                <p><strong>Peso:</strong>{{alumno.Peso }}</p>
                <p><strong>Talla:</strong> {{alumno.Talla }}</p>
                <p><strong>En caso de accidente:</strong> {{alumno.EnCasoDeAccidente }} </p>
            </div>

            <div class="info-section">
                <p><strong>Nombre alumno:</strong> {{alumno.nombre }}
                <p>
                <p><strong>Matrícula:</strong> {{alumno.matricula }}
                <p>
                <p><strong>Enfermedades:</strong> {{alumno.Enfermedades }}</p>
                <p><strong>Tratamientos:</strong> {{alumno.Tratamientos }}</p>
                <p><strong>Alergias:</strong> {{alumno.Alergias }}</p>
                <p><strong>Discapacidades:</strong> {{alumno.discapacidad }}</p>

                <div class="vacunas">
                    <h3>Vacunas</h3>
                    <ul>
                        <li>Vacuna 1</li>
                        <li>Vacuna 2</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center g-2">
        <div class="col-6"><button type="button" class="btn btn-outline-secondary px-4" (click)="volver()"> ← Regresar
            </button></div>
        <div class="col-6 text-end">
            <button href="#" class="btn btn-primary " (click)="toServices()">Ir a Servicios médicos ➝</button>
        </div>
    </div>

</div>