<div id="inicio" class="container text-center">
    <i class="mt-5 fa-solid fa-heart-pulse icon "></i>

    <div class="stat-card">
        <h3>Total de consultas realizadas hoy</h3>
        <ng-container *ngIf="consultasHoy.length > 0; else noResultados">
            <div class="fs-4 fw-bold text-success">
                {{ consultasHoy.length }}
            </div>
        </ng-container>
        <ng-template #noResultados>
            <div class="fs-5 text-muted">No hay consultas registradas hoy</div>
        </ng-template>
    </div>
</div>