<header>
    <h1><i class="fa-solid fa-stethoscope"></i> Servicios Médicos</h1>

</header>

<nav *ngIf="hasSession">
    <button class="transparent_button" (click)="navigate('/main')">Inicio</button>
    <button class="transparent_button" (click)="navigate('/servicios')">servicios</button>
    <button class="transparent_button" (click)="navigate('/confer')">Conferencias</button>
    <button class="transparent_button" (click)="navigate('/alumnos')">Alumnos</button>


</nav>
<router-outlet class="container"></router-outlet>

<!-- Footer 

<footer style="position: fixed; left: 0; bottom: 0; width: 100%;  text-align: center; padding: 10px 0; box-shadow: 0 -1px 5px rgba(0,0,0,0.1);">
    &copy; 2025 Servicios Médicos - Todos los derechos reservados
</footer>

-->