<header>
  <h1><i class="fa-solid fa-stethoscope"></i> Servicios Médicos</h1>

</header>

<nav>
  <button class="transparent_button" (click)="navigateMain()">Inicio</button>
  <button class="transparent_button" (click)="navigateServices()">servicios</button>
  <button class="transparent_button" (click)="navigateConfer()">Conferencias</button>
  <button class="transparent_button" (click)="navigateStudent()">Alumnos</button>


</nav>
<router-outlet class="container"></router-outlet>

<footer
  style="position: fixed; left: 0; bottom: 0; width: 100%;  text-align: center; padding: 10px 0; box-shadow: 0 -1px 5px rgba(0,0,0,0.1);">
  &copy; 2025 Servicios Médicos - Todos los derechos reservados
</footer>