<div class="container">

    <form [formGroup]="searchForm">
        <div class="row justify-content-center mb-3">
            <div class="col-md-8">
                <div class="input-group">
                    <input type="text" formControlName="searchInput" class="form-control" placeholder="Buscar...">
                    <select formControlName="filterSearch" class="form-select" style="max-width: 120px;">
                    <option id="nombre" value="nombre" selected>Nombre</option>
                    <option id="matricula" value="matricula">Matricula</option>
                    <option id="carrera" value="carrera">Carrera</option>
                </select>
                </div>
            </div>
        </div>
    </form>




    <div class="row justify-content-center">
        <div class="col-md-8">
            <ul class="list-group list-group-flush ">
                @for (item of filteredAlumnos; track $index) {
                <li class="list-group-item  " (click)="onSelectAlumno(item)" style="cursor: pointer;">
                    <div class="d-flex align-items-start">
                        <div>
                            <div class="fw-bold">{{ item.nombre }}</div>
                            <div class="text-muted "> {{ item.matricula }}</div>
                            <div class="text-muted"> {{ item.carrera }}</div>
                        </div>
                    </div>
                </li>
                } @empty {
                <li class="list-group-item ">No hay resultados</li>
                }
            </ul>
        </div>