<div class="container">
    <div class="mb-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar...">
            <select class="form-select" style="max-width: 120px;">
          <option>Filtro</option>
          <option>Matricula</option>
          <option>Nombre</option>
          <option>Carrera</option>
        </select>
            <button class="btn btn-outline-secondary">🔍</button>
        </div>
    </div>

    <ul class="list-group">
        <!-- resultados -->
        <!-- <li class="list-group-item">Nombre del Alumno | Matrícula</li> -->
    </ul>
</div>