<div class="container">



    <div *ngIf="alumno">
        <h2 class="text-center">Datos Medicos</h2>
        <div class="info-wrapper">
            <div class="info-section">

                <p><strong>NSS:</strong> {{alumno.NSS }}</p>
                <p><strong>Afiliación:</strong> {{alumno.afiliacion === '' ? 'ninguna':alumno.afiliacion }}</p>
                <p><strong>Grupo RH:</strong> {{alumno.RH }}</p>
                <p><strong>Donador de sangre:</strong> {{alumno.donador }}</p>
                <p><strong>Peso:</strong>{{alumno.peso }}</p>
                <p><strong>Talla:</strong> {{alumno.talla }}</p>
                <p><strong>En caso de accidente:</strong> {{alumno.enCasoDeAccidente }} </p>
            </div>

            <div class="info-section">
                <p><strong>Nombre alumno:</strong> {{alumno.nombre }}
                <p>
                <p><strong>Matrícula:</strong> {{alumno.matricula }}
                <p>
                <p><strong>Enfermedades:</strong> {{alumno.enfermedades === '' ? 'ninguna' : alumno.enfermedades }}</p>
                <p><strong>Tratamientos:</strong> {{alumno.tratamientos }}</p>
                <p><strong>Alergias:</strong> {{alumno.alergias }}</p>
                <p><strong>Discapacidades:</strong> {{alumno.discapacidad }}</p>

                <div class="vacunas">
                    <h3>Vacunas</h3>
                    <ul style="overflow-y: scroll; height: 20vh;">
                        @for (item of alumno.vacunas; track $index) {
                            <li>{{item.nombre}} </li>
                        }
                        @empty {
                            <li>Sin vacunas</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center g-2">
        <div class="col-6"><button type="button" class="btn btn-outline-secondary px-4" (click)="volver()"> ← Regresar
            </button></div>
        <div class="col-6 text-end">
            <button href="#" class="btn btn-primary " (click)="toServices()">Ir a Servicios médicos ➝</button>
        </div>
    </div>

</div>