body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1000px;
    margin: auto;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

h1 {
    font-size: 28px;
    color: #2b6777;
    margin-bottom: 20px;
}

.info-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-section {
    width: 45%;
    background-color: #2b6777;
      word-wrap: break-word; 
    margin-bottom: 20px;
    
}



.info-section p {
    margin: 4px 0;
    width: 50%;
    color: #555;
}

.vacunas {
    border-top: 1px solid #ccc;
    padding-top: 15px;
}

.vacunas h3 {
    font-size: 18px;
    color: #2b6777;
}

.vacunas ul {
    list-style: none;
    padding: 0;
}

.vacunas li {
    background: #eaf4f4;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 6px;
}



.nav {
    margin-bottom: 30px;
    display: flex;
    gap: 30px;
    font-weight: bold;
}

.nav a {
    color: #555;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
}

.nav a.active {
    border-color: #2b6777;
    color: #2b6777;
}