<div id="modal-overlay m-5" class="modal-overlay">

    <div class="modal-content ">
        <div class="card">
            <div class="card-header">
                Crear Nuevo Formulario
            </div>
            <div class="card-body">
                <form [formGroup]="descriptionForm" >

                    <div class="input-group mb-3">
                        <input type="text" name="descripcion" formControlName="descripcion" autofocus="true" class="form-control" id="descripcion">
                        <button class="btn btn-success me-2" (click)="confirm()">Confirmar</button>
                    </div>
                </form>

                <div class="d-flex justify-content-center align-items-center mt-3">
                    <button type="button" class="btn btn-outline-secondary" (click)="close()">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>