<div id="modal-overlay m-5" class="modal-overlay">

    <div class="modal-content ">
        <div class="card">
            <div class="card-header">
                Agregar Documento
            </div>
            <div class="card-body">
                <form [formGroup]="addFile" (ngSubmit)="onSubmit()">

                    <div class="row align-items-center g-2">

                        <div class="col-10" >
                            <div class="mb-3">
                                <input type="file" (change)="onChangeFile($event)" class="form-control"
                                    formControlName="file" id="fileInput" placeholder="seleccione un archivo"
                                    accept=".pdf" />
                            </div>
                        </div>
                        <div class=" mb-3 col-2 text-end " >
                           

                        </div>
                         <button class="btn btn-primary" type="submit">Agregar</button>
                        <div class="col-12 text-center" >
                            <button type="button" class="btn btn-outline-secondary" (click)="close()">Cerrar</button>

                        </div>

                    </div>




                </form>
            </div>
        </div>
    </div>
</div>