<div class="container">
    @if(names.length <= 0){ <div class="text-center">
        
        <div class="spinner-border text-primary" role="status">
        </div>

</div>
}
@else {
<div class="row justify-content-center  g-2">
    <div class="col-4">


        <ul class="list-group flex-grow-1 overflow-auto">
            @for (item of names; track $index) {
            <li class="list-group-item" (click)="onLoadFormData(item)">{{item}} </li>


            }
        </ul>
    </div>

    <div class="col">
        @if(searchingData){
        <div class="spinner-border text-primary" role="status">
        </div>
        }
        @else{
        {{data}}

        }
    </div>
</div>
}
</div>