  body {
      padding: 20px;
  }
  
  .container {
      padding: 30px;
      text-align: center;
  }
  
  .left-panel {
      border-right: 1px solid #ccc;
  }
  
  .conference-detail {
      border: 1px solid black;
      padding: 20px;
  }
  
  .conference-item:hover {
      cursor: pointer;
      background-color: #f8f9fa;
  }
  
  .modal {
      background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
      background: white;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }