<div class="container">
    <form [formGroup]="formConsulta" (ngSubmit)="onSubmit()">
        <div class="row mb-3">
            <div class="col-md-8">
                <label for="nombrePaciente" class="form-label">Nombre paciente</label>
                <input type="text" class="form-control" id="nombrePaciente" placeholder="Nombre Paciente" formControlName="nombrePaciente">
            </div>

            <div class="col-md-4">
                <label for="fecha" class="form-label">Fecha</label>
                <input type="date" class="form-control" id="fecha" formControlName="fecha">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label for="generales" class="form-label">Generales</label>
                <textarea class="form-control" id="generales" placeholder="Información general del paciente" formControlName="generales"></textarea>
            </div>

            <div class="col-md-6">
                <label for="receta" class="form-label">Receta</label>
                <textarea class="form-control" id="receta" placeholder="Receta médica" formControlName="receta"></textarea>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>