<div class="container my-3">
    <button type="button" class="btn btn-outline-secondary"> ← Regresar
        </button>

    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card shadow-lg border-0 rounded-4">
                <div class="card-body p-4">

                    <div class="text-center mb-4">
                        <h2 id="name" class="fw-bold">Nombre del alumno</h2>
                        <p id="matricula" class="mb-1">Matrícula: 8888888888</p>
                        <p id="age" class="mb-1">Edad: XX</p>
                        <p id="curp" class="mb-1">CURP:VARL020412FDLDBBU3</p>
                        <p id="city" class="mb-1">Ciudad: Piedras Negras</p>
                        <p id="domicile" class="mb-1">Domicilio: Plan de Ayala #204, Esfuerzo Nacional</p>
                        <p id="email" class="mb-0">Correo: ldvr30345gmail.com</p>
                    </div>

                    <div class="d-flex justify-content-around">
                        <button class="btn btn-primary px-4" id="segmed">Seguimiento Médico</button>
                        <button class="btn btn-success px-4" id="conasi">Conferencias Asistidas</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>