<div class="card">
    <div class="tabs">
        <div class="tab active">Alumnos</div>
        <div class="tab">Conferencias</div>
        <div class="tab">Servicios médicos</div>
    </div>

    <div class="info">
        <h2>Nombre alumno</h2>
        <p>Matrícula: 8888888888</p>
        <p>Edad: XX</p>
        <p>CURP: VARL020412FDLDBBU3</p>
        <p>Ciudad: Piedras Negras</p>
        <p>Domicilio: Plan de ayala #204, Esfuerzo Nacional</p>
        <p>Correo: ldvr30345@gmail.com</p>
    </div>

    <div class="buttons">
        <button class="btn">Seguimiento médico</button>
        <button class="btn">Conferencias asistidas</button>
    </div>
</div>