<div class="card">

    <div class="info">
        <h2 id="name">Nombre alumno</h2>
        <p id="matricula">Matrícula: 8888888888</p>
        <p id="age">Edad: XX</p>
        <p id="curp">CURP: VARL020412FDLDBBU3</p>
        <p id="city">Ciudad: Piedras Negras</p>
        <p id="domicile">Domicilio: Plan de ayala #204, Esfuerzo Nacional</p>
        <p id="email">Correo: ldvr30345arroba gmail.com</p>
    </div>

    <div class="buttons">
        <button class="btn" id="segmed">Seguimiento médico</button>
        <button class="btn" id="conasi">Conferencias asistidas</button>
    </div>
</div>