<div class="container">

    <div class="student-info">
        <h2 >{{alumno?.nombre}}</h2>
        <p>{{alumno?.matricula}}</p>
    </div>
 
    
    <form [formGroup]="searchForm" class="search-bar">
        <input type="text" formControlName="searchInput" placeholder=" Buscar...">
    </form>

    <table>
        <thead>
            <tr>
                <th><span class="icon">👥</span>Nombre</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            @for (item of filteredConferencias; track $index) {
            <tr class="tr-item" (click)="onConferenceSelected(item)" >
                <td><span class="icon">👥</span>{{ item.nombre }}</td>
                <td>{{ item.fecha | date: 'dd/MM/yyyy' }}</td>
            </tr>
            }
            @empty {
            <tr>
                <td colspan="2" class="text-center">No hay conferencias asistidas</td>
            </tr>
            }



        </tbody>
    </table>

    <div class="row justify-content-center align-items-center mt-3 g-2">
        <div class="col ">
            <button type="button" class="btn btn-outline-secondary px-4" (click)="volver()"> ← Regresar
            </button>
        </div>

        <div class="col">
            <div class="text-center">
                <button type="button" class="btn btn-primary px-4" (click)="toConferences()">Ir a conferencias ➝
                </button>
            </div>
        </div>
    </div>

</div>