<div class="container">

    <div class="student-info">
        <h2>Nombre alumno</h2>
        <p>Matrícula</p>
    </div>

    <div class="search-bar">
        <input type="text" placeholder=" Buscar...">
    </div>

    <table>
        <thead>
            <tr>
                <th><span class="icon">👥</span>Nombre</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="icon">👥</span>Conferencia 1</td>
                <td>xx/xxxx/xxxx xx:xx</td>
            </tr>
            <tr>
                <td><span class="icon">👥</span>Conferencia 2</td>
                <td>xx/xxxx/xxxx xx:xx</td>
            </tr>
        </tbody>
    </table>

    <div class="row justify-content-center align-items-center mt-3 g-2">
        <div class="col ">
            <button type="button" class="btn btn-outline-secondary px-4" (click)="volver()"> ← Regresar
            </button>
        </div>

        <div class="col">
            <div class="text-center">
               <button type="button" class="btn btn-primary px-4" (click)="toConferences()">Ir a conferencias ➝
            </button>
            </div>
        </div>
    </div>

</div>