<div id="modal-overlay m-5" class="modal-overlay">

    <div class="modal-content ">
        <div class="card">
            <div class="card-header">
                Crear Nuevo Formulario
            </div>
            <div class="card-body">

                <form [formGroup]="descriptionForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">

                    <div class="input-group mb-3">
                        <input type="text" name="descripcion" id="descripcion">
                        <button class="btn btn-danger me-2" (click)="confirm()">Confirmar</button>
                    </div>


                </form>

                <div class="d-flex justify-content-between align-items-center mt-3">

                    <button type="button" class="btn btn-outline-secondary" (click)="close()">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>